{% extends 'base.html' %}

{% block title %}Private Chat{% endblock %}

{% block content %}


<div class="Conth" style="height: 80px; width: 60%; align-self: center; margin: 20px 20%;  border-radius: 30px;     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    <a href="{% url 'dashboard' %}" class="Conth hov2 ContL" style="width: 33%; height: 100%; display: block; text-decoration: none; ">
        <h2 style="margin-left: 0%; margin-top: 6%;">Dashboard</h2>
    </a>

    <a href="{% url 'CourseHome' %}" class="Conth hov1 ContL" style="width: 34%; height: 100%; display: block; text-decoration: none; ">
    <h2 style="margin-left: 0%; margin-top: 6%;">Courses</h2>
    </a>

    <a href="{% url 'chat' %}" class="Conth hov3 ContL" style="width: 33%; height: 100%; display: block; text-decoration: none; ">
      <h2 style="margin-left: 0%; margin-top: 6%;">Users</h2>
    </a>

</div>



<div class="Cbox" style="height: fit-content; width: 100%; border-width: 5px 0px; display: flex; background-color: rgb(220, 234, 247);">


  <div class="Cbox" style="width: 10%; height: auto; border-right-width: 5px ; background-color: rgb(183, 235, 178);">
    <div class="sideheadfont hov5" style="color: rgb(43, 7, 14); padding: 10px; border-width: 0px 5px 5px 5px;">
      <h1 style="margin: 0px;">{{ user2.username }}</h1>
    </div>
  </div>

  <div class="Cbox" style="width: 80%; height: auto; ">
    
    {% for msg in msgs %}

        {% if msg.user.username == user.username %}
            <div class="Conth hov13" style="height: fit-content; width: 60%; align-self: center; margin: 20px 5% 20px 35%;  border-radius: 30px;   border: 0px solid rgb(24, 177, 248);  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

              <div class="Conth hov13" style="width: 100%; height: 100%;">
                <div class="msg">
                  <p>{{ msg.message|linebreaks }}</p>
                  </div>
              </div>

          
            </div>
        {% else %}
            <div class="Conth hov15" style="height: fit-content; width: 60%; align-self: center; margin: 20px 35% 20px 5%;  border-radius: 30px;   border: 0px solid rgb(236, 52, 52);  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

              <div class="Conth hov15" style="width: 100%; height: 100%;">
                <div class="msg">
                  <p>{{ msg.message|linebreaks }}</p>
                  </div>
              </div>
          
            </div>

        {% endif %}

    {% endfor %}

  </div>


  <div class="Cbox" style="width: 10%; height: auto; border-left-width: 5px ; background-color: rgb(183, 235, 178);">

    <div class="sideheadfont hov5" style="color: rgb(43, 7, 14); padding: 10px; border-width: 0px 0px 5px 5px;">
      <h1 style="margin: 0px;">{{ user.username }}</h1>
    </div>

  </div>

</div>



<form method="post">
    {% csrf_token %}

  {% for field in form %}
    <div style="text-align: center; margin: 30px;">
      {{field}}
    </div>
  {% endfor %}
  <br>
  <div style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <h1>Give valid commands to the bot, and it gives a reply</h1>
    </div>

  <div style="text-align: center; margin: 30px;">
    <button type="submit" class="B1 button4" style="text-align: center;">Send</button>
  </div>

</form>








{% endblock %}