{% extends 'base.html' %}

{% block title %}Create Assignment{% endblock %}
{% block H %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />


{% endblock %}
{% block content %}


<div class="Conth" style="height: 80px; width: 60%; align-self: center; margin: 20px 20%;  border-radius: 30px;     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


    <a href="{% url 'dashboard' %}" class="Conth hov3 ContL hov8" style="width: 30%; height: 100%; display: block; text-decoration: none;">
        <h2 style="margin-left: 0%; margin-top: 8%;">Dashboard</h2>
    </a>

    <a href="{% url 'coursepage' course.pk %}" class="Conth hov1 ContL" style="width: 30%; height: 100%; display: block; text-decoration: none; ">
    <h2 style="margin-left: 0%; margin-top: 5%; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 40px;" >{{ course.name }}</h2>
    </a>

    <a href="{% url 'CourseHome' %}" class="Conth hov4 ContL" style="width: 40%; height: 100%; display: block; text-decoration: none; ">
        <h2 style="margin-left: 0%; margin-top: 6%;">Courses Home</h2>
    </a> 

</div>


<div class = "login" style="width: 80%; margin: 20px 10%; color: rgb(0, 0, 0);">
    <h1 style="color: rgb(21, 199, 243); font-weight: 700; font-size: 60px">NEW ASSIGNMENT</h1>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data" action="" style="font-size: 20px" >
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="B1 button2">create</button>
    </form>
</div>



{% endblock %}