{% extends 'base.html' %}

{% block title %}CoursePage{% endblock %}

{% block content %}


{% if user.username == Instructor.username or TA_CA == 'YES' %}
    <div class="Conth" style="height: 80px; width: 60%; align-self: center; margin: 20px 20%;  border-radius: 30px;     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


        <a href="{% url 'dashboard' %}" class="Conth hov3 ContL hov8" style="width: 30%; height: 100%; display: block; text-decoration: none; ">
            <h2 style="margin-left: 0%; margin-top: 8%;">Dashboard</h2>
        </a>

        <a href="{% url 'CourseHome' %}" class="Conth hov1 ContL" style="width: 30%; height: 100%; display: block; text-decoration: none; ">
        <h2 style="margin-left: 0%; margin-top: 8%;">Courses</h2>
        </a>

        <a href="{% url 'assign_create' course.pk %}" class="Conth hov4 ContL" style="width: 40%; height: 100%; display: block; text-decoration: none; ">
            <h2 style="margin-left: 0%; margin-top: 6%;">New Assignment</h2>
        </a> 

    </div>
{% else %}
    <div class="Conth" style="height: 80px; width: 50%; align-self: center; margin: 20px 25%;  border-radius: 30px;     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

        <a href="{% url 'dashboard' %}" class="Conth hov3 ContL hov8" style="width: 50%; height: 100%; display: block; text-decoration: none; ">
            <h2 style="margin-left: 0%; margin-top: 7%;">Dashboard</h2>
        </a>

        <a href="{% url 'CourseHome' %}" class="Conth hov1 ContL" style="width: 50%; height: 100%; display: block; text-decoration: none; ">
        <h2 style="margin-left: 0%; margin-top: 7%;">Courses</h2>
        </a>

    </div>
{% endif %}

<div class="Conth" style="height: 80px; width: 60%; align-self: center; margin: 20px 20%;  border-radius: 30px;     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    <div class="Conth hov1 ContL" style="width: 35%; height: 100%; display: block;">
        <h2 style="margin-left: 0%; margin-top: 7%;">Student:  {{ course.joincode }}</h2>
    </div>

    <div class="Conth hov2 ContL" style="width: 30%; height: 100%; display: block;">
        <h1 style="margin-left: 0%; margin-top: 7%; font-family: Verdana, Geneva, Tahoma, sans-serif;">{{ course.name }}</h1>
    </div>

    <div class="Conth hov3 ContL" style="width: 35%; height: 100%; display: block;">
        <h2 style="margin-left: 0%; margin-top: 7%;">TA:  {{ course.TAjoincode }}</h2>
    </div>

</div>




<div class="Cbox" style="height: fit-content; width: 100%; border-width: 5px 0px; display: flex; background-color: rgb(220, 234, 247);">

    <div class="Cbox" style="width: 80%; height: auto; ">

        
        <div style="text-align: center; width: 100%; height: auto; margin-bottom: 4px;">
            <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(228, 35, 35) ; align-self:  center; margin: 0px;">Assignments</h1>
        </div>

        {% for a in assignments %}
            <div class="Conth" style="height: 80px; width: 60%; align-self: center; margin: 20px 20%;  border-radius: 30px;     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);">

                {% if not a.deadline > nowtime %}
                    <a href="{% url 'assign_page' course.pk a.pk %}" class="Conth hov11 ContL " style=" width: 100%;  height: 80px; display: block; text-decoration: none; margin: 0px">
                        <h1 class="font9" style="margin-top: 2.5% ;">{{ a.name }}</h1> 
                    </a>
                {% else %}
                    <a href="{% url 'assign_page' course.pk a.pk %}" class="Conth hov10 ContL " style=" width: 100%;  height: 80px; display: block; text-decoration: none; margin: 0px">
                        <h1 class="font9" style="margin-top: 2.5% ;">{{ a.name }}</h1> 
                    </a>
                {% endif %}
        
            </div>
        {% endfor %}
    </div>

    <div class="Cbox" style="width: 20%; height: auto; border-left-width: 5px ; background-color: rgb(172, 236, 186);">

        <a href = "{% url 'participants' course.pk %}" class="sideheadfont font1 hov5" style="font-size:x-large; padding: 10px; border-width: 0px 5px 5px 5px; margin-bottom: 5px; display: block; text-decoration: none;">
            <h2 style="margin: 0px;">Participants</h2>
        </a>

        <a href = "{% url 'grades' course.pk %}" class="sideheadfont font1 hov9" style="font-size:x-large; padding: 10px; border-width: 5px 5px 5px 5px; display: block; text-decoration: none; margin-bottom: 5px;">
            <h1 style="margin: 0px;">Grades</h1>
        </a>

        <div class="sideheadfont font5 hov6">
            <h1  style="margin-top: 60px;">Forums</h1>
        </div>


        {% for forum in forums %}
            <a href = "{% url 'forum' course.pk forum.pk %}" class="sideheadfont font1 hov10 hov12" style="font-size:x-large; padding: 10px; border-width: 5px 5px 5px 5px; display: block; text-decoration: none; margin-bottom: 5px;">
                <h2 style="margin: 0px;">{{ forum.name }}</h2>
            </a>
        {% endfor %}
        {% if user.username == Instructor.username or TA_CF == 'YES' %}
            <form method="post">
                {% csrf_token %}
            
            {% for field in form %}
                <div style="text-align: center; margin: 20px 5% 5px;">
                {{field}}
                </div>
            {% endfor %}
            
            <div style="text-align: center; margin: 0px;">
                <button type="submit" class="B1 button4" style="text-align: center;">Create New forum</button>
            </div>
            
            </form>
        {% endif %}

    </div>

</div>

<div class="Conth" style="height: 40px; width: 60%; align-self: center; margin: 30px 20%;  border-radius: 30px;     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);">

    <a href="#" class="Conth hov11 ContL " style=" width: 50%;  height: 80px; display: block; text-decoration: none; margin: 0px">
        <h1 class="font1" style="margin-top: 4% ;">DEADLINE UP</h1> 
    </a>
    <a href="#" class="Conth hov10 ContL " style=" width: 50%;  height: 80px; display: block; text-decoration: none; margin: 0px">
        <h1 class="font1" style="margin-top: 4% ;">STILL RUNNING</h1> 
    </a>
</div>



{% endblock %}